<div class="container">
    <h1>Log In</h1>
    <form (ngSubmit)="onSubmit()" #logInForm="ngForm">
        <p-message class="ui-g-offset-2 ui-g-9" *ngIf="this.error" severity="error" text="Username/Password were not correct"></p-message>
        <div class="form-group ui-g-12">
            <label class="ui-g-2 bold" for="Name">Username: </label>
            <input type="text" id="texr" pInputText class="form-control input ui-g-9" required [(ngModel)]="user.username" name="mail">
        </div>
        <div class="form-group ui-g-12">
            <label class="ui-g-2 bold" for="SubscriptionId">Password: </label>
            <input type="password" id="texr" pInputText class="form-control input ui-g-9" required [(ngModel)]="user.password" name="pass">
        </div>
        <div class="ui-g-12">
            <a class="ui-g-offset-2" href="/signin">Dont't have an account? Sign In.</a>
        </div>
        <button pButton type="submit" class="ui-button-primary ui-g-offset-2" icon="fa-sign-in" label="Log in" [disabled]="!logInForm.form.valid"></button>
    </form>
</div>