<div class="container">
    <h1>Home of all Podcasts</h1>
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Search Apps">
    </div>
    <p-dataTable [globalFilter]="gb" [value]="episodes" [rows]="15" [paginator]="true" sortField="episode" sortOrder="1">
        <p-column [sortable]=true field="episode" header="Episode" styleClass="text-center"></p-column>
        <p-column [sortable]=true field="podcast" header="Podcast" styleClass="text-center"></p-column>
        <p-column [style]="{'width':'80px'}" field="votes" header="Votes" styleClass="text-center"></p-column>
        <p-column [style]="{'width':'80px'}" styleClass="col-button">
            <ng-template let-episode pTemplate="header">
                Listen
            </ng-template>
            <ng-template let-episode='rowData' pTemplate="body">
                <button [routerLink]="['/podcast', episode._id]" type="button" class="ui-button-secondary" pButton icon="fa-headphones"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>